<div class="container sm-3">
    <h3>Delete Patient</h3>
<form action="" (ngSubmit)="onSubmitDlt()" >
    <input type="text" [(ngModel)]="deletePatient" name="patientId">
    <br><input type="submit" class="btn btn-danger" >
</form>
</div>

<div class="container sm-3">
    <h3>Add Patient</h3>
<form action="" (ngSubmit)="onSubmitAdd()" class="container-sm-3">
    <input type="text" [(ngModel)]="newPatientName" name="newPatientId">
    <br><input type="text" [(ngModel)]="newPatientStaus" name="newPatientStatus"><span>Optional</span>
    <br><input type="submit" class="btn btn-success" >
</form>
<div [hidden]="!submitted">Submitted Succesfully</div>
</div>