<div class="container sm-6">
    <h4>Delete Patient</h4>
<form action="" (ngSubmit)="onSubmitDlt()" >
    <div class="input-group">
    <input type="text" [(ngModel)]="updatePatient"  class="form-control" placeholder="enter id" name="patientId">
    <br>
    <br>
    <input type="submit" class="btn btn-danger" >
</div>
</form>
<div [hidden]="!deleted">Deleted Succesfully</div>
</div>
<br><br>

<div class="container sm-6">
    <h4>Add Patient</h4>
<form action="" (ngSubmit)="onSubmitAdd()">
    <div class="input-group">
    <input type="text" [(ngModel)]="newPatientName" class="form-control" placeholder="enter name" name="newPatientId">
    <br>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</div>  
</form>
<div [hidden]="!submitted" [style.font]="italic">Submitted Succesfully</div>
</div>
